#wrapper {
  text-align: center;
  color: white;
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
}

form > input {
  flex-grow: 1;
  outline: none;
  padding-left: 4px;
  border: 0px;
  height: 20px;
}

form > button {
  border: 0px;
  background: #10ac84;
  color: white;
  outline: none;

  &:hover {
    background: #006266;
  }
}

ul {
  list-style: none;
  background: #d338ef;
  padding: 10px 0px;
  margin: 0px;
}

li {
  padding-bottom: 4px;

  span {
    font-size: 24px;
    font-family: sans-serif;
    color: black;
    padding: 10px;
  }
  mat-icon {
      padding-top: 8px;
      padding-left: 25px;
  }
}

h2 {
  background: #000002;
  padding: 10px 0px;
  margin: 0px;
}

.title{
  color:white;
  text-align:center;
  background:none;
}


.example-margin {
  margin: 0 10px;
}

mat-spinner{
  height: 20px !important;
  width: 20px !important;
  margin-left: 189px;
  background: red;
}